.filter-sort {
}
.sort-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.2rem;
  color: black;
}
.select-sort {
  background: white;
  color: #ff7bac;
  border: none;
}
