.endPage {
  display: flex;
}
.msg-1 {
  font-family: Roboto;
  margin-left: 8rem;
  margin-top: 2rem;
}
.msg {
  margin-top: 2rem;
  margin-left: 8rem;
  color: black;
}
.car-img1 {
  width: 35rem;
  margin-top: 2rem;
}
.back {
  margin-left: 8rem;
}
